body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #f8f9fa;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

#sidebar {
    min-height: calc(100vh - 48px);
    width: 250px;
    background-color: white;
    position: fixed;
    top: 48px;
    z-index: 2;
}

.content {
    margin-left: 250px;
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    z-index: 1;
    background:#F0F2F5;
}

.title-content {
    height: 106px;
    display: flex;
    background: white;
    padding-left: 25px;
}

.slider {
    flex-grow: 1;
}

.nav-link {
    color: #000;
}

.nav-link i {
    color: #000;
}

.nav-link:hover {
    color: #1890FF;
    background-color: #e6f7ff;
    border-radius: 4px;
}

.nav-link:hover i {
    color: #1890FF;
}

.breadcrumb-text .breadcrumb-previous {
    color: #888;
}

.breadcrumb-text .breadcrumb-current {
    color: #000000D9;
    font-weight: bold;
}

.title-primary {
    color: #000000D9;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
}

.nav-link, .collapse .nav-link {
    width: 100%;
    display: block;
    padding-left: 1.5rem;
}

.collapse .nav-link {
    padding-left: 2.5rem;
}

button.nav-link {
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
}

button.nav-link .ms-auto {
    margin-left: auto;
}

.rotate-icon {
    transition: transform 0.3s ease;
}

.rotate-icon[aria-expanded="true"] {
    transform: rotate(180deg);
}

.label-color {
    color: #00000073
}

.required-color {
    color: #FF4D4F
}

.information {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #000000D9;
}

.input-text {
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    height: 40px;
}

.btn-clear {
    border: #1890FF 1px solid;
    color: #1890FF;
}

.blue-color
{
    color: #1890FF;
}

/*pagination-begin */
.pagination-container {
    display: flex;
    /* justify-content: space-between; */
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0px;
    font-size: 14px;
}

.pagination-info {
    font-size: 14px;
    color: #555;
    margin-right: 10px;
}

.pagination-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination-item {
    margin: 0 5px;
}

.pagination-item a,
.pagination-item span {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    /* color: #007bff; */
}

.pagination-item a:hover {
    background-color: #f0f0f0;
}

.pagination-item.active span {
    background-color: white;
    color: #007bff;
    border: 1px solid #007bff;
}

.pagination-item.disabled span {
    color: #999;
    border: 1px solid #ddd;
    cursor: not-allowed;
}

.pagination-limit select {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #555;
    background-color: #fff;
    outline: none;
}

.w-120 {
    width: 100px;
}
/*pagination-end */

.action-link {
    color: #1890FF;
}

.action-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.tr-action {
    display: flex;
    gap: 10px;
    align-items: center;
}

.breadcrumb-text span {
    color: #888;

}